body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    border-collapse: collapse;
}

.row {
    border-bottom: 2px solid rgba(103, 103, 103, 1);
}

.cell {
    border-right: 2px solid rgba(103, 103, 103, 1);
}
